/* For Editor */
.mce-content-body {
  padding: 0.5rem;
  border-radius: 0 0 var(--dimen-input-radius) var(--dimen-input-radius);
  color: var(--color-text-default);
}

.mce-content-body:focus {
  outline: 2px solid var(--color-primary);
  box-shadow: 0 0 0 3px
    color-mix(in srgb, var(--color-primary) 30%, transparent);
}

/* Editor Content Body */
.mce-content-body {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-default);
}

.mce-editor-content b,
.mce-editor-content strong {
  font-weight: 600;
}

.mce-editor-content i,
.mce-editor-content em {
  font-style: italic;
}

.mce-editor-content u {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.mce-content-body ul,
.mce-content-body ol {
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.mce-editor-content ul {
  list-style-type: disc;
}

.mce-editor-content ol {
  list-style-type: decimal;
}

.mce-editor-content li {
  margin-bottom: 0.25rem;
}

.mce-editor-content .latex {
  background: var(--color-slate-50);
  padding: 2px 6px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  line-height: 1.6;
  user-select: none;
}

.mce-editor-content .latex:hover {
  background: var(--color-slate-200);
}

.mce-editor-content .latex * {
  pointer-events: none;
}

.mce-editor-content .latex {
  pointer-events: auto;
  cursor: pointer;
}
