.bg-background {
  background-color: var(--color-background);
}

.bg-surface {
  background-color: var(--color-surface);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-50 {
  background-color: var(--color-primary50);
}

.text-on-primary {
  color: var(--color-on-primary);
}

.text-primary {
  color: var(--color-primary);
}

.text-error {
  color: var(--color-error);
}

.text-default {
  color: var(--color-text-default);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.text-tertiary {
  color: var(--color-text-tertiary);
}

.focus\:ring-primary:focus {
  --tw-ring-color: var(--color-primary);
}
