:root {
--color-surface: #ffffff;
--color-background: #f2f4f7;
--color-primary-50: #eef4fd;
--color-primary-100: #dce9f9;
--color-primary-200: #c1daf5;
--color-primary-300: #96c4ee;
--color-primary-400: #64a2e4;
--color-primary-500: #377bd9;
--color-primary-600: #2f64c4;
--color-primary-700: #3055aa;
--color-primary-800: #2c468a;
--color-primary-900: #293d6d;
--color-primary-950: #1d2743;
--color-primary: #377bd9;
--color-on-primary: #ffffff;
--color-text-default: #212529;
--color-text-secondary: #495057;
--color-text-tertiary: #6c757d;
--ff-app-sans: Poppins, sans-serif;
--dimen-radius: 0.375rem;
--dimen-button-radius: 0.375rem;
--dimen-button-md-px: 1rem;
--dimen-button-md-py: 0.5rem;
--dimen-button-md-font-size: 0.9375rem;
--dimen-button-md-min-height: 2.5rem;
--dimen-dialog-radius: 0.375rem;
}
